* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  background-color: red;
  height: 50px;
  width: 100%;
}

.main-visual{
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main{
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sidebar-left{
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.blog{
  width: 500px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar-right{
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

footer{
  background-color: blue;
  height: 100px;
  width: 100%;
}