* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading{
  padding: 20px;
  font-size: 25px;
}

.main-visual{
  width: 840px;
  margin: 50px auto;
}

.box1{
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.box2{
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.box3{
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.box4{
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}