*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

header{
  height: 50px;
  background-color: #FF9A4B;
  width: auto;
}

main{
  width: 960px auto ;
  margin: 50px auto;
  display: flex;
  justify-content: center; 
}

.step-box{
  width: 300px;
  margin: 0px 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}


.step-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: white;
}

.title{
  margin: 15px 0 5px;
}

footer{
  height: 50px;
  background-color: #AAAAAA;
  width: auto;
}

